@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mandali&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/* sono */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

@layer components {
  .btn-nav-main {
    @apply rounded-full py-2 px-4 font-semibold hover:bg-gray-200 focus:outline-none  align-baseline cursor-pointer;
  }

  /* Menu Navigation */
  .nav-menu {
    @apply text-link_dark hover:text-link_dark_hover font-semibold transition-all duration-300 flex items-center;
  }

  .nav-menu_inverted {
    @apply text-theme_font_light hover:text-link_light_hover font-semibold transition-all duration-300 flex items-center;
  }

  /* Colors */



  
  /* Typography */
  .font_color {
    @apply text-theme_font_dark dark:text-theme_font_light;
  }
  .heading {
    @apply font-extrabold font_color;
  }
  .heading_h1 {
    @apply heading text-8xl;
  }
  .heading_h2 {
    @apply heading text-7xl;
  }
  .heading_h3 {
    @apply heading text-5xl;
  }
  .heading_h4 {
    @apply heading text-3xl;
  }
  .heading_h5 {
    @apply heading text-2xl;
  }
  .heading_h6 {
    @apply heading text-xl;
  }
  .body1 {
    @apply text-base font_color;
  }
  .body2{
    @apply text-sm font_color;
  }
  .link{
    @apply font-bold;
  }
  
  /* Buttons */

  .button {
    @apply  font-bold py-2 px-4 rounded;
  }

  .button-primary {
    @apply bg-blue-500 hover:bg-blue-700 text-white;
    
  }

  .button-disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  .button-outline {
    @apply bg-transparent hover:bg-transparent text-theme_font_dark font-semibold border-2 border-theme_font_dark ;
  }




  .box {
    @apply p-7 bg-white rounded-md shadow-xl;
  }

}